<ion-header>
  <ion-toolbar>
    <ion-title>Breeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Breeds</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="breed-list">
    <!--
      <ion-list-header>
        <ion-label>All Cat Breeds</ion-label>
      </ion-list-header>
    -->
    @for (breed of breeds; track breed) {
    <ion-item button [routerLink]="['/breed', breed]">
      <ion-label>{{ breed }}</ion-label>
    </ion-item>
    }
  </ion-list>

</ion-content>