<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>All Cat Breeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All Cat Breeds</ion-title>
    </ion-toolbar>
  </ion-header>

  <main class="main">
    <ion-list class="breedGrid">
      @for (breed of breeds; track breed) {
      <ion-item button [routerLink]="['/breed', breed]">
        {{ breed }}
      </ion-item>
      }
    </ion-list>
  </main>
  
</ion-content>