<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Benefits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Benefits</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Reported Health Benefits of Cats</h1>
  <p>Owning a cat is reported to have many health benefits including:</p>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Lower Stress and Anxiety</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Playing with a cat can make you forget about your troubles. A cat can provide many laughs, as you can see
        from all the funny videos online.</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Prevent allergies</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Exposing children to a cat can help strengthen their immune system.</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Reduce feelings of loneliness</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Cats can be great companions and give you a sense of purpose.</div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>Can you really believe it?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">A lot of these scientific studies probably have tons of flaws. Selection bias is a big issue in pet ownership studies. Are cat owners already happy and healthy? If you choose to own a pet, you are likely financially secure, which contributes to improved health. Surveys are used to measure pet ownership satisfaction. People may feel guilty about admitting it was a mistake to get a pet. I believe that many of these studies are likely conducted by the pet owners themselves in an effort to support their decision. Despite the happiness that comes with owning a pet, there is always pain in the event of its death. Don&apos;t think owning a pet will magically fix your problems. After a while, your happiness will regress to your mean happiness.</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>