<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <ion-icon class="icon-title" name="Cat Wiki" aria-hidden="true"
                src="../../assets/images/CatwikiLogo.svg"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                <ion-icon class="icon-title" name="Cat Wiki" aria-hidden="true"
                    src="../../assets/images/CatwikiLogo.svg"></ion-icon>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="ion-padding"><!--id="container"-->
        <div class="searchDiv">
            <h1 class="searchDiv-h1">Get to know more about your cat breed</h1>
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                <ion-input id="search" class="searchInput" inputmode="text" name="search" maxlength="25"
                    ngModel required label="Search">
                    <ion-button type="submit" fill="clear" slot="end" aria-label="Submit">
                        <ion-icon slot="icon-only" name="search-outline" aria-hidden="true"></ion-icon>
                    </ion-button>
                </ion-input>
            </form>
        </div>
        <section class="breedSection">
            <h1 class="breedSection-h1">Most Searched Breeds</h1>
            <div class="brownLine"></div>
            <div class="discoverBreeds">
                <h2 class="fs48">66+ Breeds For you to discover</h2>
                <a routerLink="/breeds">SEE MORE <span>&rarr;</span></a>
            </div>
            <div class="breedFlex">
                @for (breed of featuredBreeds; let first = $first; track breed.id) {
                <a [routerLink]="['/breed/'+breed.name]">
                    <div class="breedDiv">
                        <ion-img [ngClass]="first ? 'contain' : 'cover'" class="breedImage" src={{breed.image?.url}}
                            alt="" />
                        <div>{{breed.name}}</div>
                    </div>
                </a>
                }@empty {
                <p>Error: Fetching top breeds</p>
                }
            </div>
        </section>
        <section class="shouldSection">
            <div class="padding125">
                <div class="brownLine"></div>
                <h2 class="fs48">Why should you have a cat?</h2>
                <p>Having a cat around you can actually trigger the release of calming chemicals in your body which
                    lower your stress and anxiety levels.</p>
                <a routerLink="/benefits">READ MORE <span>&rarr;</span></a>
            </div>
            <div class="imageGrid">
                <div class="image1">
                    <ion-img src="../assets/images/image-2.png" alt=""></ion-img>
                </div>
                <div class="image2">
                    <ion-img src="../assets/images/image-3.png" alt=""></ion-img>
                </div>
                <div class="image3">
                    <ion-img src="../assets/images/image-1.png" alt=""></ion-img>
                </div>
            </div>
        </section>
    </div>
</ion-content>