<ion-header>
  <ion-toolbar>
    <ion-title>{{name | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{name | titlecase}}</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (loading) {
  <section class="loading-section ion-padding">
    <ion-spinner name="circular"></ion-spinner>
  </section>
  } @else if(!loading && error){
  <section class="ion-padding">
    <h1>Error fetching {{name | titlecase}}. Check your spelling or the list of breeds to see if the breed is included.</h1>
  </section>
  } @else {
  <main class="ion-padding">
    <h1 class="title">{{name | titlecase}}</h1>
    <div class="topGrid">
      <div>
        <img src={{data.hero.url}} alt="" width="400" height="400" class="radius">
      </div>
      @for (json of breed; track breed) {
      <section>
        <p class="description">{{json.description}}</p>
        <h2>Termperament: {{json.temperament}}</h2>
        <h2>Origin: {{json.origin}}</h2>
        <h2>Life Span: {{json.life_span}} years</h2>
        <h2 class="bubbleGrid">Adaptability: <app-bubble [count]="json.adaptability" /></h2>
        <h2 class="bubbleGrid">Affection Level: <app-bubble [count]="json.affection_level" /></h2>
        <h2 class="bubbleGrid">Child Friendly: <app-bubble [count]="json.child_friendly" /></h2>
        <h2 class="bubbleGrid">Grooming: <app-bubble [count]="json.grooming" /></h2>
        <h2 class="bubbleGrid">Intelligence: <app-bubble [count]="json.intelligence" /></h2>
        <h2 class="bubbleGrid">Health Issues: <app-bubble [count]="json.health_issues" /></h2>
        <h2 class="bubbleGrid">Social Needs: <app-bubble [count]="json.social_needs" /></h2>
        <h2 class="bubbleGrid">Stranger Friendly: <app-bubble [count]="json.stranger_friendly" /></h2>
      </section>
      }
    </div>
    <section>
      <h3 class="fs35">Other Images</h3>
      <div class="otherImagesGrid">
        @for (image of filteredImages; track image) {
        <img src={{image}} alt="" width="400" height="400" class="radius">
        }
      </div>
    </section>
  </main>
  }
</ion-content>